<div class="site-header push">
    <div class="wrapper">
        <ul class="nav">
            <li class="nav-home" role="presentation" [routerLinkActive]="['nav-current']" ><a [routerLink]=" ['./home']" >home</a></li>
            <li class="nav-travel" role="presentation" [routerLinkActive]="['nav-current']"><a [routerLink]=" ['./section','politics']" >politics</a></li>
            <li class="nav-food" role="presentation" [routerLinkActive]="['nav-current']"><a [routerLink]=" ['./section','showbizz']" >showbizz</a></li>
            <li class="nav-tech" role="presentation" [routerLinkActive]="['nav-current']"><a [routerLink]=" ['./section','sports']" >sports</a></li>
            <li class="nav-tech" role="presentation" [routerLinkActive]="['nav-current']"> <a [routerLink]=" ['./section','tech']" >tech</a></li>
            <li class="nav-interviews" role="presentation" [routerLinkActive]="['nav-current']"><a [routerLink]=" ['./section','top']" >top pics</a></li>
            <li class="nav-editorials" role="presentation" [routerLinkActive]="['nav-current']"><a [routerLink]=" ['./section','surprise']" >surprises</a></li>
        </ul>


        <div class="menu-btn">
            <div class="material-burger">
                <span></span>
            </div>
        </div>

        <h2 class="blog-title" style="margin-left: 0px;"><a href="#">Eventapture</a></h2>
    </div>
</div>