<div class="site-footer push">
    <div class="info clearfix">
        <div class="copyright">
            <a href="https://www.eventapture.com/">eventapture</a>  |   © 2017 All rights reserved
        </div>

        <section class="social-media" style="visibility: visible;">

            <a class="facebook" target="_blank" href="http://www.facebook.com/eventapture">
                <i class="icon-facebook"></i>
            </a>

            <a class="twitter" target="_blank" href="http://www.twitter.com/eventapture">
                <i class="icon-twitter"></i>
            </a>

            <a class="google-plus" target="_blank" href="https://plus.google.com/eventapture">
                <i class="icon-google-plus"></i>
            </a>

            <a class="dribbble" href="index.html#" style="display: none;">
                <i class="icon-dribbble"></i>
            </a>

            <a class="instagram" href="index.html#" style="display: none;">
                <i class="icon-instagram"></i>
            </a>

            <a class="tumblr" href="index.html#" style="display: none;">
                <i class="icon-tumblr"></i>
            </a>

            <a class="youtube" href="index.html#" style="display: none;">
                <i class="icon-youtube"></i>
            </a>

            <a class="vimeo" href="index.html#" style="display: none;">
                <i class="icon-vimeo"></i>
            </a>

            <a class="pinterest" href="index.html#" style="display: none;">
                <i class="icon-pinterest"></i>
            </a>

            <a class="flickr" href="index.html#" style="display: none;">
                <i class="icon-flickr"></i>
            </a>

            <a class="linkedin" href="index.html#" style="display: none;">
                <i class="icon-linkedin"></i>
            </a>

            <a class="github" href="index.html#" style="display: none;">
                <i class="icon-github"></i>
            </a>

            <a class="rss" href="http://ghost.voltthemes.com/quartz/rss/" style="display: none;">
                <i class="icon-rss"></i>
            </a>

        </section>
    </div>
</div>