<div class="post tag-tech">
    <a href="#">
        <div class="featured-image" style="background-image:none"></div>
    </a>
    <section class="post-info">
        <div class="post-tags"><a href="#">Tech</a></div>

        <h2 class="post-title">
            <a href="#">
                <span class="ellip">
                    <!--<span>Making Computer Science More Inviting: A Look at What Works</span>-->
                    <span style="white-space: nowrap;">Making</span>
                    <span style="white-space: nowrap;">Computer</span>
                    <span style="white-space: nowrap;">Science</span>
                    <span style="white-space: nowrap;">More</span>
                    <span style="white-space: nowrap;">Inviting:</span>
                    <span style="white-space: nowrap;">A</span>
                    <span style="white-space: nowrap;">Look</span>
                    <span style="white-space: nowrap;">at</span>
                    <span style="white-space: nowrap;">What</span>
                    <span style="white-space: nowrap;">Works</span>
                 </span>
            </a>
        </h2>

        <div class="post-meta">
            <span class="post-author">By <a href="#">Casey Baker</a></span>
            <time class="post-date" datetime="2016-02-07"> - February 7</time>
        </div>
    </section>

</div>


<!--<div class="w3-container w3-card-8 w3-white w3-round w3-margin" style="margin:0 5px 10px !important; position: relative; padding: 0">-->

    <!--<rating [rating]="rating"></rating>-->
    <!--<status [status]="status"></status>-->

    <!--<div style="height: 200px;overflow: hidden; position: relative; ">-->
        <!--<img [src]="image" alt="Avatar" class="w3-left w3-margin-right" style="background-position: left; position: relative;">-->
    <!--</div>-->

    <!--<span class="w3-right w3-opacity">1 min</span>-->
    <!--<headline [text]="'Trump Travel Ban'" [stretch]="headlineStretch"></headline>-->
    <!--<br>-->
    <!--<div style="padding:0.01em 16px">-->
        <!--<chart-bar [data]="chartData" *ngIf="chartData"></chart-bar>-->
    <!--</div>-->
    <!--<card-footer></card-footer>-->
<!--</div>-->