<ul class="carousel">
    <li>
        <div class="post tag-tech">
            <a href="#" class="story-image">
                <div class="featured-image " style="background-image:url(../../assets/img/trump-putin.jpg)">
                </div>
            </a>
        </div>
        <div class="top">
            Top Story
        </div>
        <div class="story-overlap-heading">
            Trump - Russia ties : Investigation
        </div>
    </li>
    <li>
        <div class="post tag-tech">
            <a href="#" class="story-image">
                <div class="featured-image " style="background-image:url(../../assets/img/theresa-may.jpg)">
                </div>
            </a>
        </div>
        <div class="trending">
            Trending
        </div>
        <div class="story-overlap-heading">
            Theresa May's Empty Brexit Promises
        </div>
    </li>
    <li>
        <div class="post tag-tech">
            <a href="#" class="story-image">
                <div class="featured-image " style="background-image:url(./../../assets/img/king-abdullah-jordan-abdel-fatteh-el-sisi-egypt.jpg)">
                </div>
            </a>
        </div>
        <div class="trending">
            Trending
        </div>
        <div class="story-overlap-heading">
            Arab Summit: 'Arabs lost confidence in their leaders'
        </div>
    </li>
</ul>