
        <!-- Profile -->
        <div class="w3-card-2 w3-round w3-white">
            <div class="w3-container">
                <h4 class="w3-center">My Profile</h4>
                <p class="w3-center"><img src="../../../assets/img/user-avatar.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
                <hr>
                <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> Anas.R.Firdousi</p>
                <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> California, USA</p>
                <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> April 1, 1900</p>
            </div>
        </div>
        <br>
