<!--<div class="wrapper-breaker">-->
    <carousel></carousel>
<!--</div>-->
<div class="home-posts">

    <div class="post tag-tech">
        <a href="#" class="story-image">
            <div class="featured-image " style="background-image:url(../../assets/img/trump-kim-jon-ung.jpg)">
                <!--<span class="rating-tag"><a href="#">8.7</a></span>-->
                <span class="story-status-tag live"><a href="#">Live</a></span>
            </div>
        </a>
        <section class="post-info">
            <span class="post-tags"><a href="#">Politics</a></span>
            <span class="post-tags"><a href="#">Donald Trump</a></span>
            <h2 class="post-title">
                <a href="#"><span class="ellip">Trump: US will act unilaterally on North Korea if necessary</span></a>
            </h2>
            <div class="post-meta">
                <!--<span class="post-author">By <a href="#">Casey Baker</a></span>-->
                <!--<time class="post-date" datetime="2016-02-07"> - February 7</time>-->
            </div>
        </section>
    </div>
    <div class="post tag-food">
        <a href="#">
            <div class="featured-image " style="background-image:url(../../assets/img/brexit.jpg)">
                <span class="story-status-tag live"><a href="#">Live</a></span>
            </div>
        </a>
        <section class="post-info">
            <span class="post-tags"><a href="#">Politics</a></span>
            <span class="post-tags"><a href="#">UK</a></span>
            <span class="post-tags"><a href="#">Brexit</a></span>

            <h2 class="post-title">
                <a href="#"><span class="ellip"><span class="ellip-line">Brexit: EU's Tusk to issue negotiation ... </span></span></a>
            </h2>

            <div class="post-meta">
                <!--<span class="post-author">By <a href="#">Terry Miller</a></span>-->
                <!--<time class="post-date" datetime="2016-02-07"> - February 7</time>-->
            </div>
        </section>

    </div>
    <div class="post tag-interview tag-fashion featured">
        <a href="#">
            <div class="featured-image " style="background-image:url(../../assets/img/israel-palestine.jpg)">
                <span class="story-status-tag live"><a href="#">Live</a></span>
            </div>
        </a>
        <section class="post-info">
            <span class="post-tags"><a href="#">Politics</a></span>
            <span class="post-tags"><a href="#">Israel</a></span>
            <span class="post-tags"><a href="#">Palestine</a></span>

            <h2 class="post-title">
                <a href="#"><span class="ellip">Israel approves first new West Bank settlement in 20 years</span></a>
            </h2>

            <div class="post-meta">
                <!--<span class="post-author">By <a href="#">Terry Miller</a></span>-->
                <!--<time class="post-date" datetime="2016-02-06"> - February 6</time>-->
            </div>
        </section>

    </div>
    <div class="post tag-editorial featured">
        <a href="#">
            <div class="featured-image " style="background-image:url(../../assets/img/space-x.jpg">
                <span class="story-status-tag final"><a href="#">Final</a></span>
            </div>
        </a>
        <section class="post-info">
            <span class="post-tags"><a href="#">Technology</a></span>
            <span class="post-tags"><a href="#">Science</a></span>
            <span class="post-tags"><a href="#">Space</a></span>
            <span class="post-tags"><a href="#">Space X</a></span>
            <span class="post-tags"><a href="#">Elon Musk</a></span>

            <h2 class="post-title">
                <a href="#"><span class="ellip">Success for SpaceX 're-usable rocket' </span> </a>
            </h2>

            <div class="post-meta">
                <!--<span class="post-author">By <a href="#">Casey Baker</a></span>-->
                <!--<time class="post-date" datetime="2016-02-05"> - February 5</time>-->
            </div>
        </section>

    </div>
    <div class="post tag-food">
        <a href="#">
            <div class="featured-image " style="background-image:url(../../assets/img/federer.jpg)">
                <span class="story-status-tag live"><a href="#">Live</a></span>
            </div>
        </a>
        <section class="post-info">
            <span class="post-tags"><a href="#">Sports</a></span>
            <span class="post-tags"><a href="#">Tennis</a></span>
            <span class="post-tags"><a href="#">Federer</a></span>
            <span class="post-tags"><a href="#">Miami Open</a></span>

            <h2 class="post-title">
                <a href="#"><span class="ellip">Roger Federer beats Tomas Berdych to reach Miami Open semi-Finals</span></a>
            </h2>

            <div class="post-meta">
                <!--<span class="post-author">By <a href="#">Casey Baker</a></span>-->
                <!--<time class="post-date" datetime="2016-02-05"> - February 5</time>-->
            </div>
        </section>

    </div>
    <div class="post tag-travel">
        <a href="#">
            <div class="featured-image " style="background-image:url(../../assets/img/semus-coleman.jpg)">
                <span class="story-status-tag final"><a href="#">Final</a></span>
            </div>
        </a>
        <section class="post-info">
            <span class="post-tags"><a href="#">Sports</a></span>
            <span class="post-tags"><a href="#">Football</a></span>
            <span class="post-tags"><a href="#">Fifa</a></span>
            <span class="post-tags"><a href="#">Wales</a></span>

            <h2 class="post-title">
                <a href="#"><span class="ellip">Fifa looks into Wales defender's leg-breaking challenge on Seamus Coleman</span></a>
            </h2>

            <div class="post-meta">
                <!--<span class="post-author">By <a href="#">Terry Miller</a></span>-->
                <!--<time class="post-date" datetime="2016-02-04"> - February 4</time>-->
            </div>
        </section>

    </div>
    <div class="post tag-travel">
        <a href="#">
            <div class="featured-image " style="background-image:url(../../assets/img/blade-runner.jpg)">
                <span class="story-status-tag final"><a href="#">Final</a></span>
            </div>
        </a>
        <section class="post-info">
            <span class="post-tags"><a href="#">Film</a></span>
            <span class="post-tags"><a href="#">CinemaCon</a></span>

            <h2 class="post-title">
                <a href="#"><span class="ellip">CinemaCon 2017: The films everyone's talking about</span></a>
            </h2>

            <div class="post-meta">
                <!--<span class="post-author">By <a href="#">Terry Miller</a></span>-->
                <!--<time class="post-date" datetime="2016-02-04"> - February 4</time>-->
            </div>
        </section>

    </div>
    <div class="post tag-travel">
        <a href="#">
            <div class="featured-image " style="background-image:url(../../assets/img/trump-xi.jpg)">
                <span class="story-status-tag final"><a href="#">Final</a></span>
            </div>
        </a>
        <section class="post-info">
            <span class="post-tags"><a href="#">America</a></span>
            <span class="post-tags"><a href="#">China</a></span>
            <span class="post-tags"><a href="#">Politics</a></span>
            <span class="post-tags"><a href="#">Trump</a></span>
            <span class="post-tags"><a href="#">Xi</a></span>

            <h2 class="post-title">
                <a href="#"><span class="ellip">Trump to meet China's Xi in Florida next week</span></a>
            </h2>

            <div class="post-meta">
                <!--<span class="post-author">By <a href="#">Terry Miller</a></span>-->
                <!--<time class="post-date" datetime="2016-02-04"> - February 4</time>-->
            </div>
        </section>

    </div>
    <div class="post tag-travel">
        <a href="#">
            <div class="featured-image " style="background-image:url(../../assets/img/paul-ryan.jpg)">
                <span class="story-status-tag final"><a href="#">Final</a></span>
            </div>
        </a>
        <section class="post-info">
            <span class="post-tags"><a href="#">Politics</a></span>
            <span class="post-tags"><a href="#">Technology</a></span>
            <span class="post-tags"><a href="#">Browsing History</a></span>
            <span class="post-tags"><a href="#">Law</a></span>

            <h2 class="post-title">
                <a href="#"><span class="ellip">Campaigners seek 'to sell US politicians' browsing data'</span></a>
            </h2>

            <div class="post-meta">
                <!--<span class="post-author">By <a href="#">Terry Miller</a></span>-->
                <!--<time class="post-date" datetime="2016-02-04"> - February 4</time>-->
            </div>
        </section>

    </div>
    <div class="post tag-travel">
        <a href="#">
            <div class="featured-image " style="background-image:url(../../assets/img/indian-meat-issue.jpg)">
                <span class="story-status-tag final"><a href="#">Final</a></span>
            </div>
        </a>
        <section class="post-info">
            <span class="post-tags"><a href="#">India</a></span>
            <span class="post-tags"><a href="#">Politics</a></span>
            <span class="post-tags"><a href="#">Meat Ban</a></span>

            <h2 class="post-title">
                <a href="#"><span class="ellip">'You may as well kill us': Human cost of India's meat 'ban'</span></a>
            </h2>

            <div class="post-meta">
                <!--<span class="post-author">By <a href="#">Terry Miller</a></span>-->
                <!--<time class="post-date" datetime="2016-02-04"> - February 4</time>-->
            </div>
        </section>

    </div>
</div>
<div class="moreStories">
    <div class="clearfix"></div>
    <button class="btnMoreButton">Show more stories</button>
</div>
<!--<div class="w3-col m2">-->
     <!--<snap></snap>-->
     <!--<main-nav></main-nav>-->
<!--</div>-->
<!--<div class="w3-col m5">-->
    <!--<card [image]="storyImagePathTest" [headlineStretch]="2" [rating]="8.9" [status]="1"></card>-->
    <!--<card [image]="storyImagePathTest" [headlineStretch]="2" [rating]="8.9" [status]="1"></card>-->
    <!--<card [image]="storyImagePathTest" [headlineStretch]="2" [rating]="8.9" [status]="2"></card>-->
    <!--<card [image]="storyImagePathTest" [headlineStretch]="2" [rating]="8.9" [status]="1"></card>-->
<!--</div>-->
<!--<div class="w3-col m5">-->
    <!--<card [image]="storyImagePathTest" [headlineStretch]="2" [rating]="8.9" [status]="1"></card>-->
    <!--<card [image]="storyImagePathTest" [headlineStretch]="2" [rating]="8.9" [status]="2"></card>-->
    <!--<card [image]="storyImagePathTest" [headlineStretch]="2" [rating]="8.9" [status]="1"></card>-->
    <!--<card [image]="storyImagePathTest" [headlineStretch]="2" [rating]="8.9" [status]="2"></card>-->
<!--</div>-->

